<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes&#x2F;clothing.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/crafting/recipes/clothing.dm 
            <a href="https://github.com/vlggms/lobotomy-corp13/blob/b2bbaf339d43d9bb45c40946fbb02e6540fa600f/code/datums/components/crafting/recipes/clothing.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;recipes&#x2F;clothing.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/mummy</th><td>Simple Crafting Cloth</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/durathread_vest</th><td>DURATHREAD</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/radiogloves</th><td>Subterfuge and Hacking</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/lizardboots</th><td>Alien Components</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/hunterbelt</th><td>Lavaland Components</td></tr></table></main>
<footer>
    lobotomy-corp13.dme
    <a href="https://github.com/vlggms/lobotomy-corp13/tree/b2bbaf339d43d9bb45c40946fbb02e6540fa600f">b2bbaf3</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
